// color code
$light-orange: #f9ad81;
$off-white: #f1e5b98a;
$white: #ffffff;
$black: #000000;
$orange: #ffa500;
$oranged: #ff4500;
$grey: #9d9d9d;
$dark-grey: #88888817;
$dark-gray: #565252;

// font
$font-bold: bold;
$normal-font: 14px;
